<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
  
    <ion-title>
      Finalizar Compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">

  <ion-list>
    <ion-item *ngFor="let producto of productos" >
      <ion-label>
        <img [src]="producto.imagen" alt="{{ producto.nombre }}" style="width: 50px; height: 50px; border-radius: 8px; margin-right: 10px;">
        <ion-icon name="close-circle" slot="end" (click)="eliminarProducto(producto.id)"></ion-icon>
        <h2>{{ producto.nombre }}</h2>
        <p>${{ producto.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <h3>Total: ${{ obtenerTotal() }}</h3>

  <ion-button expand="full" color="danger" [disabled]="productos.length == 0" (click)="limpiarCarrito()">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Vaciar Carrito
  </ion-button>
</ion-content>

