<ion-grid>
  <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
    <ion-col *ngFor="let nabarItem of nabarItems" class="ion-text-center" size="2.4">
      <ion-button (click)="navigateTo(nabarItem.url)" fill="clear" class="ion-text-center" [disabled]="!nabarItem.isFinite">
        <ion-icon [name]="nabarItem.icon" style="font-size: 1.3rem;"></ion-icon>
      </ion-button>
      
      <div class="ion-text-center" style="font-size: 0.7rem;">
        {{ nabarItem.label }}
      </div>
      
    </ion-col> 
  </ion-row>
</ion-grid>

