<ion-grid>
  <ion-row class="ion-justify-content-around">
    <ion-buttons>
      <ion-button routerLink="/home" roterDirection="forward">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-icon name="home-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>Inicio</ion-text>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button routerLink="/catalogo" roterDirection="forward">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-icon name="grid-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>Categorias</ion-text>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button routerLink="/Cuenta" roterDirection="forward">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-icon name="person-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>Cuenta</ion-text>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button routerLink="/mas" roterDirection="forward">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-icon name="add-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-text>Mas</ion-text>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-buttons>
  </ion-row>
</ion-grid>
